@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<table border="1" style="width:100%; text-align:center">

    <tbody>
        <tr style="border-bottom:solid">
            <td style="background-color:#fff" class="ll" >8</td>
            <td style="background-color:#fff" class="ll" >7</td>
            <td style="background-color:#fff" class="ll" >6</td>
            <td style="background-color:#fff" class="ll" >5</td>
            <td style="background-color:#fff" class="ll" >4</td>
            <td style="background-color:#fff" class="ll" >3</td>
            <td style="background-color:#fff" class="ll" >2</td>
            <td style="border-left:solid ;background-color:#fff" class="ll" color-td="#fff" >1</td>

            <td style="background-color:#fff" class="ll" >1</td>
            <td style="background-color:#fff" class="ll" >2</td>
            <td style="background-color:#fff" class="ll" >3</td>
            <td style="background-color:#fff" class="ll" >4</td>
            <td style="background-color:#fff" class="ll" >5</td>
            <td style="background-color:#fff" class="ll" >6</td>
            <td style="background-color:#fff" class="ll" >7</td>
            <td style="background-color:#fff" class="ll" >8</td>
        </tr>
        <tr>
            <td style="background-color:#fff" class="ll" >8</td>
            <td style="background-color:#fff" class="ll" >7</td>
            <td style="background-color:#fff" class="ll" >6</td>
            <td style="background-color:#fff" class="ll" >5</td>
            <td style="background-color:#fff" class="ll" >4</td>
            <td style="background-color:#fff" class="ll" >3</td>
            <td style="background-color:#fff" class="ll" >2</td>
            <td style="border-left:solid ;background-color:#fff" class="ll">1</td>

            <td style="background-color:#fff" class="ll" >1</td>
            <td style="background-color:#fff" class="ll" >2</td>
            <td style="background-color:#fff" class="ll" >3</td>
            <td style="background-color:#fff" class="ll" >4</td>
            <td style="background-color:#fff" class="ll" >5</td>
            <td style="background-color:#fff" class="ll" >6</td>
            <td style="background-color:#fff" class="ll" >7</td>
            <td style="background-color:#fff" class="ll" >8</td>
        </tr>
    </tbody>
</table>
<br>
<table border="1" style="width:100%; text-align:center">

    <tbody>
        <tr style="border-bottom:solid">
            <td style="background-color:#fff" class="ll" >E</td>
            <td style="background-color:#fff" class="ll" >D</td>
            <td style="background-color:#fff" class="ll" >C</td>
            <td style="background-color:#fff" class="ll" >B</td>
            <td style="border-left:solid ;background-color:#fff" class="ll" >A</td>
            <td style="background-color:#fff" class="ll" >A</td>
            <td style="background-color:#fff" class="ll" >B</td>
            <td style="background-color:#fff" class="ll" >C</td>
            <td style="background-color:#fff" class="ll" >D</td>
            <td style="background-color:#fff" class="ll" >E</td>
        </tr>
        <tr>
            <td style="background-color:#fff" class="ll" >E</td>
            <td style="background-color:#fff" class="ll" >D</td>
            <td style="background-color:#fff" class="ll" >C</td>
            <td style="background-color:#fff" class="ll" >B</td>
            <td style="border-left:solid ;background-color:#fff" class="ll" >A</td>
            <td style="background-color:#fff" class="ll" >A</td>
            <td style="background-color:#fff" class="ll" >B</td>
            <td style="background-color:#fff" class="ll" >C</td>
            <td style="background-color:#fff" class="ll" >D</td>
            <td style="background-color:#fff" class="ll" >E</td>
        </tr>

    </tbody>
</table>
                   