@section Links
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 20px;
        }

        .form-section {
            background: white;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
            border: 1px solid #ddd;
        }

        .delete-btn {
            background: red;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        .blue-header {
            background: #007bff;
            color: white;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            text-align: right;
        }

        .toggle-btn {
            display: flex;
            align-items: center;
        }

            .toggle-btn label {
                margin-left: 10px;
            }
    </style>
}
<div class="container">
    <div class="blue-header">بيانات المعالجة الحالية</div>
    <div id="form-container">
        <div class="form-section">
            <div class="row">
                <div class="col-md-2 text-center">
                    <button class="delete-btn">X</button>
                    <div class="toggle-btn">
                        <input type="checkbox">
                        <label>جديد</label>
                    </div>
                </div>
                <div class="col-sm-3">
<div class="form-group">
<table border="1" style="width:100%; text-align:center">
                            <tbody>
                                <tr style="border-bottom:solid">
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="12">8</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="11">7</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="10">6</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="9">5</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="8">4</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="7">3</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="6">2</td>
                                    <td style="border-left:solid ;background-color:#fff" class="ll" color-td="#fff" val-id="5">1</td>

 <td style="background-color:#fff" class="ll" color-td="#fff" val-id="13">1</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="14">2</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="15">3</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="16">4</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="17">5</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="18">6</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="19">7</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="20">8</td>

                                </tr>
                                <tr>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="28">8</td>
                                    <td style="background-color:#00FFFF" class="ll" color-td="#00FFFF" val-id="27">7</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="26">6</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="25">5</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="24">4</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="23">3</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="22">2</td>
                                    <td style="border-left:solid ;background-color:#fff" class="ll" color-td="#fff" val-id="21">1</td>

                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="29">1</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="30">2</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="31">3</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="32">4</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="33">5</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="34">6</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="35">7</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="36">8</td>

                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table border="1" style="width:100%; text-align:center">
                            <tbody>
                                <tr style="border-bottom:solid">
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="41">E</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="40">D</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="39">C</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="38">B</td>
                                    <td style="border-left:solid ;background-color:#fff" class="ll" color-td="#fff" val-id="37">A</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="42">A</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="43">B</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="44">C</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="45">D</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="46">E</td>
                                </tr>
                                <tr>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="56">E</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="55">D</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="54">C</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="53">B</td>
                                    <td style="border-left:solid ;background-color:#fff" class="ll" color-td="#fff" val-id="52">A</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="47">A</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="48">B</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="49">C</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="50">D</td>
                                    <td style="background-color:#fff" class="ll" color-td="#fff" val-id="51">E</td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="select2-container select2-container-multi Item-offscreen my-Dis-Place" id="s2id_kkk" style="width:100%; visibility:hidden"><ul class="select2-choices">  <li class="select2-search-choice">    <div> LR7  </div>    <a href="#" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-field">    <label for="s2id_autogen7" class="select2-offscreen"></label>    <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" id="s2id_autogen7" tabindex="-1" placeholder="" style="width: 10px;">  </li></ul><div class="select2-drop select2-drop-multi select2-display-none">   <ul class="select2-results">   <li class="select2-no-results">No matches found</li></ul></div></div><select style="width: 100%; visibility: hidden; display: none;" tabindex="-1" id="kkk" class="Item-offscreen my-Dis-Place" multiple="multiple">

                            <option value="0">إختر مكان المعالجة</option>
                            <option value="5"> UR1  </option>
                            <option value="6"> UR2  </option>
                            <option value="7"> UR3  </option>
                            <option value="8"> UR4  </option>
                            <option value="9"> UR5  </option>
                            <option value="10"> UR6  </option>
                            <option value="11"> UR7  </option>
                            <option value="12"> UR8  </option>
                            <option value="13"> UL1  </option>
                            <option value="14"> UL2  </option>
                            <option value="15"> UL3  </option>
                            <option value="16"> UL4  </option>
                            <option value="17"> UL5  </option>
                            <option value="18"> UL6  </option>
                            <option value="19"> UL7  </option>
                            <option value="20"> UL8  </option>
                            <option value="21"> LR1  </option>
                            <option value="22"> LR2  </option>
                            <option value="23"> LR3  </option>
                            <option value="24"> LR4  </option>
                            <option value="25"> LR5  </option>
                            <option value="26"> LR6  </option>
                            <option value="27" selected=""> LR7  </option>
                            <option value="28"> LR8  </option>
                            <option value="29"> LL1  </option>
                            <option value="30"> LL2  </option>
                            <option value="31"> LL3  </option>
                            <option value="32"> LL4  </option>
                            <option value="33"> LL5  </option>
                            <option value="34"> LL6  </option>
                            <option value="35"> LL7  </option>
                            <option value="36"> LL8  </option>
                            <option value="37"> UR A  </option>
                            <option value="38"> UR B  </option>
                            <option value="39"> UR C  </option>
                            <option value="40"> UR D   </option>
                            <option value="41"> UR E  </option>
                            <option value="42"> UL A  </option>
                            <option value="43"> UL B  </option>
                            <option value="44"> UL C  </option>
                            <option value="45"> UL D  </option>
                            <option value="46"> UL E  </option>
                            <option value="47"> LL A  </option>
                            <option value="48"> LL B  </option>
                            <option value="49"> LL C  </option>
                            <option value="50"> LL D  </option>
                            <option value="51"> LL E  </option>
                            <option value="52"> LR A  </option>
                            <option value="53"> LR B  </option>
                            <option value="54"> LR C  </option>
                            <option value="55"> LR D  </option>
                            <option value="56"> LR E  </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>السعر</label>
                    <input type="number" class="form-control" value="0.000" readonly>
                </div>
                <div class="col-md-2">
                    <label>الكمية</label>
                    <input type="number" class="form-control" value="0.000">
                </div>
                <div class="col-md-2">
                    <label>الخصم</label>
                    <input type="number" class="form-control" value="0.000" readonly>
                </div>
                <div class="col-md-2">
                    <label>الإجمالي</label>
                    <input type="number" class="form-control" value="0" readonly>
                </div>
                <div class="col-md-2">
                    <label>نوع المعالجة</label>
                    <select class="form-control">
                        <option>.tal post + composite</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <button id="add-form" class="btn btn-primary">+</button>
</div>


@section Scripts
{
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap JS (optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            // Clone the .form-section when + is clicked
            $('#add-form').click(function () {
                var newForm = $('.form-section').first().clone(true);

                // Optionally clear some fields in the new form
                newForm.find('input[type=\"number\"]').val('0.000');
                newForm.find('input[type=\"checkbox\"]').prop('checked', false);
                newForm.find('textarea').val('');

                // Append the new form section
                $('#form-container').append(newForm);
            });

            // Delete a form section when X is clicked
            $(document).on('click', '.delete-btn', function () {
                // Only remove if there's more than one form section
                if ($('.form-section').length > 1) {
                    $(this).closest('.form-section').remove();
                }
            });
        });
    </script>

}